---
title: About my JamStack practice
layout: base.njk
--- 
 
<div class="container">
    <h1>JamStack practice</h1>
    <div class="vibe">
      This is an About page using nunjck and eleventy
    </div>
    <div class="love">
      ♥️
    </div>
</div>