---
title: About my JamStack practice
layout: base.njk
--- 
 
<div class="container">
    <h1>JavaScript.API.MarkUp</h1>
    <div class="vibe">
      This is an About page using nunjuck and eleventy
    </div>
    <div class="love">
    
    </div>
</div>
<script src="/js/vibe.js"></script>