---
title: JamStack practice
layout: base.njk
---
 
<div class="container">
    <h1>JamStack practice</h1>
    <div class="vibe">
      JamStack is great
    </div>
    <div class="love">
    
    </div>
</div>
<script src="/js/vibe.js"></script>